{% extends 'global/pages/base_page_form.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<main class="container-form">
    <div class="header">
        <h2 class="login-title">Redefinir Senha</h2>
        <p class="login-description">Insira o seu e-mail para receber o link da redefinição de senha</p>
    </div>
    <div class="form-container">
        <form action="{% url 'users:password_reset_send' %}" method="POST" class="login-form">
        {% csrf_token %}
            <div class="form-content">
                {% for field in form %}
                    <div class="form-group">
                    {{field}}
        
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
        
                    {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
        
            <div class="form-actions">
                <div class="form-group">
                    <button type="submit" class="submit-btn">Enviar </button>
                </div>

                <p>OU</p>

                <div class="form-group">
                    <a href="{% url 'users:login_view' %}"><button type="button" class="back-btn">Voltar <i class="bi bi-arrow-return-left"></i></button></a>
                </div>
            </div>
        </form>
    </div>
</main>  
{% endblock content %}
