{% extends 'global/pages/base_painel_adm.html' %}

{% block title %}Adicionar Pagamento{% endblock %}

{% block content %}
<main class="container-form-payment">
    <h1>Adicionar Pagamento para: {{ member.full_name }}</h1>
    <form method="POST" action="{% url 'admin_panel:add_payment' member.id %}" class="form">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                
                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'admin_panel:members' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</main>
{% endblock %}
